h1{
    background-color: red;
    color: blue;
}

p{
    background-color: black;
    color: white;
    text-align: center;
    border-color: aquamarine;
    border-style: solid;
    border-width: 2px;
    margin: 10px;
}  

button {
    background-color: grey;
    border-color: blue;
    padding: 5px;
}

#linkedin{
    margin: 10px;
    color: red;
}
#Github{
background-color: green;
}